*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1em;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #e6e6e6;
}
#area-cabecalho {
    background-color: #669bbc;
    padding: 10px;
    text-align: center;
    max-height: 200px;
}
#area-logo,
#area-menu{
    padding: 5px;
}
/* Formatação do menu  */
a{
    text-decoration: none;
}
#espanhol:link, #espanhol:visited{
    color:#fff;
    padding: 8px 12px;
}
#espanhol:hover{
    color: #ffba08;
}
#ingles:link, #ingles:visited{
    color:#fff;
    padding: 8px 12px;
}
#ingles:hover{
    color: #0d47a1;
}
#japones:link, #japones:visited{
    color:#fff;
    padding: 8px 12px;
}
#japones:hover{
    color: #d00000;
}
/* Titulo */
h1{
    color: #343a40;
    font-size: 2.5em;
}
.segunda-cor{
    color: #fcca46;
}
/* Imagem Logo */
.container {
    width: 200px;
    height: 120px;
}

/* resize images */
.container img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#area-principal{
    width: 920px;
    margin: 0 auto;
}
#area-postagens{
    width: 660px;
    float: left;
}
.center{
    text-align: center;
}

